<p>
    <%= num[0] %>, 
    <%= num[1] %>, 
    <%= num[2] %>, 
    <%= num[3] %>, 
    <%= num[4] %>, 
    <%= num[5] %>, 
    <%= num[6] %>
</p>
<style>
    p {
        display: block;
        width: 100%;
        height: 20vh;
        letter-spacing: 20px;
        font-size: 45px;
        text-align: center;
        margin: 20% auto;
    }
</style>